@import "tailwindcss";

@theme inline {
  /* Colors */
  --color-primary: #14b8a6;
  --color-primary-dark: #0f766e;
  --color-background-light: #E8FCFA;
  --color-background-dark: #221910;
  --color-surface-light: #ffffff;
  --color-surface-dark: #2d241b;

  /* Fonts */
  --font-display: var(--font-manrope);

  /* Border Radius */
  --radius-none: 0px;
  --radius-sm: 0.125rem;
  --radius: 0.25rem;
  --radius-full: 9999px;
}

body {
  margin: 0;
  padding: 0;
}
